{% extends 'base.html.twig' %}

{% block title %}MemberShip{% endblock %}

{% block body %}
    <h1>MemberShip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_ship.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ member_ship.type }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ member_ship.beginAt ? member_ship.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ member_ship.comment }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ member_ship.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('member_ship_index') }}">back to list</a>

    <a href="{{ path('member_ship_edit', {'id': member_ship.id}) }}">edit</a>

    {{ include('member_ship/_delete_form.html.twig') }}
{% endblock %}
