{% extends 'base.html.twig' %}

{% block title %}MemberShip index{% endblock %}

{% block body %}
        <h1 class="title margin-b">Adhésion</h1>

	<!--==== Card ====-->
	<div class="card card-padding">

		<div class="contact-header margin-b">
			<a href="{{ path('member_ship_new') }}" class="btn btn-secondary btn-radius">
				<i class="fas fa-plus"></i> Ajouter
			</a>
			<form action="">
				<input type="search" id="" placeholder="Search computer..." class="radius">
			</form>
		</div>

    <table class="table">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Type</th>
                <th>Com</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Ordinateur</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member_ship in member_ships %}
           {%  set member = member_ship.member %}
            <tr>
                <td>{{ member.title }}</td>
                <td>{{ member.lastname }}</td>
                <td>{{ member.firstname }}</td>
                <td>{{ member_ship.type }}</td>
                <td>{{ member_ship.beginAt ? member_ship.beginAt|date('Y-m-d') : '' }}</td>
                <td>{{ member.mail }}</td>
                <td>{{ member.phone }}</td>
                <td>{% if member_ship.computer %}
                        {{ member_ship.computer.serial }}
                    {% else %}
                        Pas d'ordinateur
                    {% endif %}</td>
                <td>{{ member_ship.amount }} €</td>
                <td>{{ member_ship.comment }}</td>
                <td class="actions">
                    <a href="{{ path('member_ship_edit', {'id': member_ship.id}) }}"><i class="far fa-edit"></i></a>
                    {{ include('member_ship/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
