{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Référence adhésion : {{ member_ship.id }}{% endblock %}

{% block body %}
    <h1 class="margin-tb">Référence adhésion : {{ member_ship.id }}</h1>

    <div class="card">
        <div class="row show-margin-b">
            <p>Ceci est le reçu d'adhesions de {{ member_ship.member.lastname }} {{ member_ship.member.firstname }}</p>
            <a href="" class="btn btn-third btn-radius"><i class="fas fa-print"></i> Imprimez ce reçu</a>
        </div>
        <div class="row">
            <p><span>Référence adhésions : </span><br>{{ member_ship.id }}</p>
            <p><span>Date : </span><br>{{ member_ship.beginAt ? member_ship.beginAt|date('d/m/Y') : '' }}</p>
        </div>
        <hr>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_ship.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ member_ship.type }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ member_ship.beginAt ? member_ship.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ member_ship.comment }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ member_ship.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('member_ship_index') }}">back to list</a>

    <a href="{{ path('member_ship_edit', {'id': member_ship.id}) }}">edit</a>

    {{ include('member_ship/_delete_form.html.twig') }}
{% endblock %}
