{% extends 'base.html.twig' %}

{% block title %}Inventaire des ordinateurs{% endblock %}

{% block body %}
    <h1 class="title">Ordinateur</h1>
	<p class="desc">Inventaire des ordinateurs</p>


	{# Alert notification #}
	{% include "notification.html.twig" %}

	{# Contenue #}
	<div class="card card-padding">

		<div class="contact-header margin-b">
			<a href="{{ path('computer_new') }}" class="btn btn-secondary btn-radius">
				<i class="fas fa-plus"></i> Ajouter
			</a>
            {{render(controller('App\\Controller\\ComputerController::getSearchComputerForm'))}}
		</div>
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro de série</th>
                <th>Date de réception</th>
                <th>Status</th>
                <th>Type</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>{{ computer.id }}</td>
                <td>{{ computer.serial }}</td>
                <td>{{ computer.receivedAt ? computer.receivedAt|date('d-m-Y') : '' }}</td>
                <td>
                    <span class="status {{ computer.status|replace({'à':'a'})|replace({'é':'e'})|lower }}">{{ computer.status }}</span>
                </td>
                <td>{{ computer.type }}</td>
                <td>{{ computer.comment|length > 25 ? computer.comment|slice(0, 25)~'...' : computer.comment }}</td>
                	<td class="actions">
                        <a href="{{ path('computer_show', {'id': computer.id}) }}" data-infoBulle="Visualiser"><i class="far fa-eye"></i></a>
                        <a href="{{ path('computer_edit', {'id': computer.id}) }}" data-infoBulle="Modifier"><i class="far fa-edit"></i></a>
                        {{ include('computer/_delete_form.html.twig') }}
					</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="margin-tb">
			{{ knp_pagination_render(computers) }}
		</div>
    </div>
{% endblock %}
