{% extends 'base.html.twig' %}

{% block title %}Computer index{% endblock %}

{% block body %}
    <h1 class="title margin-b">Ordinateur</h1>

	{# Alert notification #}
	{% include "notification.html.twig" %}

	{# Contenue #}
	<div class="card card-padding">

		<div class="contact-header margin-b">
			<a href="{{ path('computer_new') }}" class="btn btn-secondary btn-radius">
				<i class="fas fa-plus"></i> Ajouter
			</a>
			<form action="">
				<input type="search" id="" placeholder="Search computer..." class="radius">
			</form>
		</div>
    

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Date de réception</th>
                <th>Status</th>
                <th>Type</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>{{ computer.serial }}</td>
                <td>{{ computer.receivedAt ? computer.receivedAt|date('Y-m-d') : '' }}</td>
                <td class="{{ computer.status|replace({'à':'a'})|replace({'é':'e'})|lower }}">{{ computer.status }}</td>
                <td>{{ computer.type }}</td>
                <td>{{ computer.comment }}</td>
                	<td class="actions">
                            <a href="{{ path('computer_edit', {'id': computer.id}) }}"><i class="far fa-edit"></i></a>
                            {{ include('computer/_delete_form.html.twig') }}
						</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="margin-tb">
			{{ knp_pagination_render(computers) }}
		</div>
    </div>
{% endblock %}
