{% extends 'base.html.twig' %}

{% block title %}Contact index
{% endblock %}

{% block body %}
	<h1 class="title margin-b">Contact</h1>

	<!--==== Card ====-->
	<div class="card card-padding">

		<div class="contact-header margin-b">
			<a href="{{ path('contact_new') }}" class="btn btn-secondary btn-radius">
				<i class="fas fa-plus"></i> Ajouter
			</a>
			<form action="">
				<input type="search" id="" placeholder="Search user..." class="radius">
			</form>
		</div>
    
		<table class="table">
			<thead>
				<tr>
					<th>Motif</th>
					<th>Gender</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Courriel</th>
					<th>Téléphone</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Code postal</th>
					<th>Commentaires</th>
					<th>Actions</th>
		
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					<tr>
						<td>{{ contact.reason }}</td>
						<td>
							{{ contact.title }}
						</td>
						<td>{{ contact.lastname }}</td>
						<td>{{ contact.firstname }}</td>
						<td>{{ contact.mail }}</td>
						<td>{{ contact.phone }}</td>
						<td>{{ contact.adress.adressLine1 }}</td>
						<td>{{ contact.adress.city }}</td>
						<td>{{ contact.adress.zipCode }}</td>
						<td>{{ contact.comment }}</td>
				

						<td class="actions">
							<a href="{{ path('contact_edit', {'id': contact.id}) }}"><i class="far fa-edit"></i></a>
							{{ include('contact/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
