{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
	<h1 class="title">Contact</h1>
	<p class="desc">Liste des conctats</p>


	{# Alert notification #}
	{% include "notification.html.twig" %}

	{# Contenue #}
	<div class="card card-padding">

		<div class="contact-header margin-b">
			<a href="{{ path('contact_new') }}" class="btn btn-secondary btn-radius">
				<i class="fas fa-plus"></i> Ajouter
			</a>
			{{render(controller('App\\Controller\\ContactController::getSearchForm'))}}
		</div>
    
		<table class="table table-contact">
			<thead>
				<tr>
					<th>Nom Prénom</th>
					<th>Téléphone</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>CP</th>
					<th>Commentaires</th>
					<th>Actions</th>
		
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					<tr>
						<td>
							<div class="contact-info">
								<div class="contact-user {% if contact.title == "Monsieur" %} man {% else %} women {% endif %}">
									<span>{{ contact.lastname|upper }} {{ contact.firstname|slice(0, 1)|capitalize  }}</span>
								</div>
								<div class="contact-user-info">
									<span>{{ contact.lastname|upper }} {{ contact.firstname|slice(0, 1)|capitalize }}</span>
									<a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a>
								</div>
							</div>
						</td>
						<td>{{ contact.phone }}</td>
						<td>{{ contact.adress ? contact.adress.adressLine1 : ""}}</td>
						<td>{{ contact.adress ? contact.adress.city : ""}}</td>
						<td>{{ contact.adress ? contact.adress.zipCode : ""}}</td>
						<td>{{ contact.comment|length > 25 ? contact.comment|slice(0, 25)~'...' : contact.comment }}</td>
				

						<td class="actions contact-m">
							<a href="{{ path('contact_show', {'id': contact.id}) }}" data-infoBulle="Voir"><i class="far fa-eye"></i></a>
							<a href="{{ path('contact_edit', {'id': contact.id}) }}" data-infoBulle="Modifier"><i class="far fa-edit"></i></a>
							{{ include('contact/_delete_form.html.twig') }}
						</td>
					</tr>						
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# display navigation #}
		<div class="margin-tb">
			{{ knp_pagination_render(contacts) }}
		</div>

	</div>
{% endblock %}
